<div class="box">
    <div class="info" style="text-align:right;">
        <%= link_to("", edit_giki_path(@wiki.name), :class => "icon small_edit") %>
    </div>
    
    <div class="wikistyle">
      <%= raw @wiki.formatted_data %>
    </div>
</div>