<div class="tab-pane active" id="results">
  <% results.each do |result| %>
    <div class="page">
      <div class="title"><%= link_to(result.name, giki_path(result.name)) %></div>
      <div class="summary">
        <%= truncate(result.raw_data, :length => 300) %>
      </div>
    </div>
  <% end %>
 
</div>


<script type="text/javascript">
  $(".tab-content").highlight("<%= @query_string %>");
</script>